@use 'base/variables' as v;
@use 'base/mixins' as m;

.citas{

    list-style: none;
    padding: 0;
    li{
        padding: 1rem;
        border-top: 1px solid v.$blanco;
        p{
            font-weight: v.$bold;
            color: v.$azul;
        }
        span, .servicio{
            font-weight: v.$regular;
            color: v.$blanco;
        }
    
    }


}

.gg{
    margin-top: 10rem;
    text-align: center;
}

.servicios{
    @extend .citas;
    .acciones{
        justify-content: space-between;
        margin: 1rem;
    }
    .boton-eliminar, .boton{margin: 1rem;}
}

